// Font Variables----------------------------------------------/
$font-stack-primary: 1em 'Helvetica Neue', sans-serif;

// Color Variables---------------------------------------------/
$color-primary: #1affc6;
$color-secondary: #4ddbff;
$color-text-primary: #808080;

// Breakpoint Variables----------------------------------------/
$brk-desktop: 768px;
