* {
  box-sizing: border-box;
}

p {
  font: $font-stack-primary;
  font-size: 18px;
  font-weight: 300;
  color: $color-text-primary;
  line-height: 1.75em;
}

a {
  text-decoration: none;
  display: block;
  width: 100%;
  font-size: 20px;
  font-weight: 300;
  color: $color-text-primary;
  &:visited {
    color: $color-text-primary;
  }
  &:hover {
    color: white;
  }
  @include breakpoint {
    display: inline;
  }
}
